.header {
  height: 12rem;
  background: #f53d2d;
  background: linear-gradient(-180deg, #f53d2d, #f63);
  transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.navbar__list {
  list-style-type: none;
  padding-left: 0;
}

.navbar__item {
  display: inline-block;
  padding: 0 1rem;
  position: relative;
}
.navbar__item + .navbar__item::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 1.2rem;
  border-left: 2px solid hsla(0,0%,100%,.22);
}

.navbar__item a {
  font-size: 1.2rem;
  color: var(--white-color);
  text-decoration: none;
}

.navbar__item a:hover {
  opacity: 0.7;
}
