
/* Font-weight */
.font-normal {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

/* Padding */
.p-r-5 {
  padding-right: 5px;
}

/* Icon CSS */
i[class*='fa-'], i[class*='fab'] {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes scaleOut {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}